@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SSD Bank</h1>
    <p>
        <br>Continuing our promise of Commitment while delivering consistent quality experiences and providing options and banking solutions that meet your needs.
        offers a broad range of financial products and services, including: personal and business banking investments, trust, retirement and financial management services property and casualty and employee benefits insurance. <br> We serve customers through more than 100 financial centers in the Austin, Corpus Christi, Dallas, Fort Worth, Houston, Rio Grande Valley and San Antonio regions.
    </p>
</div>
